<div class="row lightest_grey_bg min-full-height">
  <div class='container'>
    <br>

    <div class='row'>
      <div class='col-md-7'>
        <h1>Final grade calculator</h1>
        <span>Calculate the grade you need to get at your final to achieve your goal</span>
      </div>
      <div class='col-md-5'>
        <div class='shadow-box course-card link' data-href="<%= course_path(@prediction.course) %>">
          <div class='course-card-info'>
            <div>
              <strong><%= @prediction.course %></strong>
            </div>
            <span><%= @prediction.course.name %></span>
          </div>
          <div class='course-card-buttons'>
            <%= user_course_buttons(@prediction.course) %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class='final_grade_calculator'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-10'>
            <%= render :partial => 'input', :locals => {:prediction => @prediction} %>
          </div>
          <div class='col-md-2'>
            <div class='shadow-box-list fgcaffix fgc-stats'>
              <div class="shadow-box-list-header">
                Predictions:
              </div>

              <% @course.university.grading_system.entities.where(:pass => true).order(:min_score => :desc).each do |entity| %>
                  <div class="shadow-box-list-item ">
                    <div class="fgc-grade-name"> <%= entity.name %></div>
                    <div class="fgc-grade-value">
                      <span class='prediction' data-min-percent='<%= entity.min_score %>'></span>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>