<div>
  lol
  <%= form_tag(utils_fgc_create_grade_path) do %>
      <%= submit_tag(t('fgc.create_grade')) %>
  <% end %>

  <%= form_tag(utils_fgc_create_group_path) do %>
      <%= submit_tag(t('fgc.create_group')) %>
  <% end %>
</div>

<div>

  <% @prediction.groups.each do |group| %>
      <div>
        <div style="display: inline-block">
          <% group.grades.each do |grade| %>

              <div style="display: inline-block">
                <%= form_tag(utils_fgc_edit_grade_name_path) do %>
                    <%= text_field_tag :name, grade.name, :placeholder => 'Name' %>
                    <%= hidden_field_tag :grade, grade.id %>
                <% end %>

              </div>
              |
              <div style="display: inline-block">
                <%= form_tag(utils_fgc_edit_grade_value_path) do %>
                    <%= text_field_tag :value, grade.value, :placeholder => 'Grade' %>
                    <%= hidden_field_tag :grade, grade.id %>
                <% end %>
              </div>
          <% end %>
        </div>
        <div style="display: inline-block">
          <% group.percents.each do |percent| %>
              <div style="display: inline-block">
                <%= form_tag(utils_fgc_edit_group_percent_path) do %>
                    <%= text_field_tag :value, percent.value, :placeholder => 'Percent' %>
                    <%= hidden_field_tag :percent, percent.id %>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>

      <% unless group.simple? %>
          <%= form_tag(utils_fgc_add_grade_to_group_path) do %>
              <%= submit_tag(t('fgc.add_grade_to_group')) %>
          <% end %>
      <% end %>
  <% end %>
</div>