<h1>Auto load a course from url</h1>
<% unless @course.nil? %>
    You have just added the following course:
    <br>    
    <table class="table table-striped">
      <tr>
        <td>Name:</td>
        <td> <%= @course.name %></td>
      </tr>
      <tr>
        <td>Subject:</td>
        <td> <%= @course.subject %></td>
      </tr>
      <tr>
        <td>Code:</td>
        <td><%= @course.code %></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><%= @course.description %></td>
      </tr>
      <tr>
        <td>Hours:</td>
        <td><%= @course.hours %></td>
      </tr>
      <tr>
        <td>Credit:</td>
        <td><%= @course.credit %></td>
      </tr>
    </table>

    <%= link_to 'View', course_path(@course), :class => 'btn btn-default' %>


    <hr>

    Add an other course
<% end %>
<%= form_tag(admin_utils_course_load_create_path) do %>
    <div class="form-group">
      <%= text_field_tag :url, @url, :class => 'form-control' %>
      <br>
      <%= submit_tag 'Load', :class => 'btn btn-default' %>
    </div>
<% end %>