<h1>Program editor</h1>
Edit/Create programs

<div class='whitetext'>
  <%= link_to 'New program', new_program_program_path, :class => 'btn btn-primary' %>
</div>
<hr>

<%= form_tag admin_utils_program_editor_path, :method => 'get' do %>
    <div class="input-group">
      <%= text_field_tag :q, @search.query, :class => 'form-control' %>
      <span class="input-group-btn">
     <%= submit_tag :Search, :class => 'btn btn-default' %>
    </span>
    </div>
<% end %>

<table class="table ">
  <% @search.results.each do |program| %>
      <tr>
        <td><%= link_to program.to_s, program_program_path(program) %></td>
        <td>
          <div class='btn-group' style="color: white">
            <div style="display: inline-block">
              <a href="<%= edit_program_program_path(program) %>" class='btn btn-danger' rel="tooltip" data-toggle="tooltip" title="Edit">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            </div>
            <div style="display: inline-block">
              <%= form_tag program_program_path(program), method: 'delete' do %>
                  <button class='btn btn-danger' rel="tooltip" data-toggle="tooltip" title="Delete">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                  </button>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
  <% end %>
</table>