<div class='content_box pagewidth_twothirds'>
  <div>
    <h1>Your Courses
      <div style='float:right;'><%= link_to user_courses_add_path do %>
            <button>Add a Course</button>
        <% end %></div>
    </h1>
  </div>

  <hr style='width:100%'>

  <div><h3>Courses in progress</h3></div>
  <% current_user.taking_courses.sort_by!{|a| [a.course.subject, a.course.code]}.each do |c| %>
      <div>
        <h4 title="<%= c.course.name %>" class="underline_link">
          <%= link_to course_path(c.course.id) do %>
            <%= c.course.subject.name + ' ' + c.course.code.to_s %><% unless c.semester.nil? %> (<%= c.semester %> <%= c.year %>)<% end %>
          <% end %>
        </h4>
        <button style='visibility:hidden;'>I</button>
        <div style='float:right;'>
          <%= form_tag(:action => 'remove_course_taking', 'data-service' => c) do %>
              <%= submit_tag('Remove') %>
          <% end %>
        </div>
        <div style='float:right;'>
          <%= form_tag(:action => 'complete_course_taking', 'data-service' => c) do %>
              <%= submit_tag('Complete') %>
          <% end %>
        </div>
      </div>
  <% end %>
  <% if current_user.taking_courses.empty? %>
      <div><h4>You are not taking any courses.</h4></div>
  <% end %>

  <hr style='width:100%'>

  <div><h3>Courses completed</h3></div>
  <% current_user.completed_courses.sort_by!{|a| [a.course.subject, a.course.code]}.each do |c| %>
      <div>
        <h4 title="<%= c.course.name %>" class="underline_link">
          <%= link_to course_path(c.course.id) do %>
            <%= c.course.subject.name + ' ' + c.course.code.to_s %>
            
          <% end %>
        </h4>
        <button style='visibility:hidden;'>I</button>
        <div style='float:right;'>
          <%= form_tag(:action => 'remove_course_completed', 'data-service' => c) do %>
              <%= submit_tag('Remove') %>
          <% end %>
        </div>
        <div style='float:right;'>
          <% unless current_user.reviewed_course?(c) %>
            <%= link_to course_review_new_path(c) do %>
              <button><%= t('course.addreview') %></button>
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
  <% if current_user.completed_courses.empty? %>
      <div><h4>You have not completed any courses.</h4></div>
  <% end %>
</div>  