<div><h2 class="<%= get_course_css_class(current_user, @course) %>"><%= link_to (@course.subject.to_s + " " + @course.code.to_s), course_path(@course) %></h2></div>
<div><h3><%= @course.name %></h3></div>
<div><h4><%= @course.hours %> Hours, <%= @course.credit %> Credits</h4></div>
<div><h5><%= @course.description %></h5></div>
<div><h4>Prerequisites:
  <% if @course.prerequisite.nil? %>
    None.
  <% else %>
    <%= raw(@course.prerequisite.to_html) %>
  <% end %>
</h4></div>
<div><h4>Corequisites:
  <% if @course.corequisite.nil? %>
    None.
  <% else %>
    <%= raw(@course.corequisite.to_html) %>
  <% end %>
</h4></div>