<div><h2 class="<%= get_course_css_class(@course) %>"><%= link_to (@course.subject.to_s + " " + @course.code.to_s), course_path(@course) %></h2></div>
<div><h3><%= @course.name %></h3></div>
<div><h4><%= @course.hours %> Hours, <%= @course.credit %> Credits</h4></div>
<div><h5><%= @course.description %></h5></div>
<div><h4>Prerequisites:
  <% if @course.prerequisite.nil? %>
    None.
  <% else %>
    <%= raw(get_expr_html(@course.prerequisite)) %>
  <% end %>
</h4></div>
<div><h4>Corequisites:
  <% if @course.corequisite.nil? %>
    None.
  <% else %>
    <%= raw(get_expr_html(@course.corequisite)) %>
  <% end %>
</h4></div>

<% unless current_user.nil? %>
  <% unless current_user.is_taking_course?(@course) or current_user.has_completed_course?(@course) %>
  <div class="center">
    <%= form_tag(:controller => "user_courses", :action => "addCourse", :method => "post") do %>
      <%= hidden_field_tag 'course', @course.id %>
      <div class="center"><%= submit_tag 'In Progress', :style => "width:80px;" %>
      <%= submit_tag 'Completed', :name => 'completed', :style => "width:80px;" %></div>
    <% end %>
  </div>
  <% else %>
    <% coursesindb = current_user.taking_courses.to_a %>
    <% coursesindb.concat(current_user.completed_courses.to_a) %>
    <% variable = -1 %>
    <% coursesindb.each do |cid| %>
      <% if cid.course == @course %>
        <% variable = cid %>
      <% end %>
    <% end %>
    <div class="center"><%= form_tag(:controller => "user_courses", :action => "removeCourseCompleted", 'data-service' => variable) do %>
      <%= submit_tag("Remove") %></div>
    <% end %>
  <% end %>
  
  
<% end %>