<div class="content_box pagewidth_twothirds">
  <div>
    <h3 class='<%= get_course_css_class(@course) %> underline_link'><%= link_to (@course.subject.to_s + ' ' + @course.code.to_s), course_path(@course) %></h3>
  </div>

  <% if current_user.is_taking_course?(@course) %>
      <% c = current_scenario.get_by_course(@course) %>
      <% unless c.semester.nil? or c.year.nil? %>
          <div><h4><%= t('course.inprogress.label') %> <%= c.semester.to_s.capitalize %> <%= c.year %></h4></div>
      <% end %>
  <% end %>

  <div><h4><%= @course.name %></h4></div>
  <div><h5><%= @course.hours %> Hours, <%= @course.credit %> Credits</h5></div>
  <div><h5><%= @course.description %></h5></div>
  <div><h5>Prerequisites:
    <% if @course.prerequisite.nil? %>
        None.
    <% else %>
        <%= raw(get_expr_html(@course.prerequisite)) %>
    <% end %>
  </h5></div>
  <div><h5>Corequisites:
    <% if @course.corequisite.nil? %>
        None.
    <% else %>
        <%= raw(get_expr_html(@course.corequisite)) %>
    <% end %>
  </h5></div>

  <% unless current_user.nil? %>
      <% if current_user.is_taking_course?(@course) or current_user.has_completed_course?(@course) %>
          <% coursesindb = current_scenario.taking_courses.to_a %>
          <% coursesindb.concat(current_user.completed_courses.to_a) %>
          <% variable = -1 %>
          <% coursesindb.each do |cid| %>
              <% if cid.course == @course %>
                  <% variable = cid %>
              <% end %>
          <% end %>
          <% if current_user.is_taking_course?(@course) %>
              <style>form {
                  display: inline;
              }</style>
              <div class='center'>
                <a href='<%= user_complete_course_path(@course) %>'>
                  <button><%= t('course.mark_completed') %></button>
                </a>
                <%= form_tag(user_remove_course_path(@course), {:class => 'useajax'}) do %>
                    <%= submit_tag t('course.remove') %>
                <% end %>
              </div>

          <% else %>
              <div class='center'>
                <style>form {
                    display: inline-block;
                }</style>
                <% unless current_user.reviewed_course?(@course) %><%= link_to course_review_new_path(@course) do %>
                        <button><%= t('course.addreview') %></button>
                    <% end %>
                <% end %>
                <%= form_tag(user_remove_course_path(@course), {:class => 'useajax'}) do %>
                    <%= submit_tag t('course.remove') %>
                <% end %>
              </div>
          <% end %>
      <% else %>
          <div class='center'>
            <style>form {
                display: inline;
            }</style>
            <a href='<%= user_take_course_path(@course) %>'>
              <button><%= t('course.mark_taking') %></button>
            </a>
            <a href='<%= user_complete_course_path(@course) %>'>
              <button><%= t('course.mark_completed') %></button>
            </a>
          </div>

      <% end %>
  <% end %>



  <% reviews = @course.reviews %>
  <% if reviews.size > 0 %>
      <hr style="width:100%;">
      <div><h2>Reviews (<%= reviews.size %>)</h2></div>
      <% reviews.each do |r| %>
          <div>
            <div><h3><%= r.user.email.split("@")[0] %></h3></div>
            <div><h5><%= r.comment %></h5></div>
            <% r.ratings.each do |s| %>
                <div style="width:32%;text-align:center;display:inline-block;"><h5><%= s.criteria.name %>: </h5><h3><%= s.score %></h3></div>
            <% end %>
          </div>
      <% end %>
  <% end %>

</div>

