<div class="content_box pagewidth_twothirds">
  <div>
    <h3 class='<%= get_course_css_class(@course) %> underline_link'><%= link_to (@course.subject.to_s + ' ' + @course.code.to_s), course_path(@course) %></h3>
  </div>
  <div><h4><%= @course.name %></h4></div>
  <div><h5><%= @course.hours %> Hours, <%= @course.credit %> Credits</h5></div>
  <div><h5><%= @course.description %></h5></div>
  <div><h5>Prerequisites:
    <% if @course.prerequisite.nil? %>
        None.
    <% else %>
        <%= raw(get_expr_html(@course.prerequisite)) %>
    <% end %>
  </h5></div>
  <div><h5>Corequisites:
    <% if @course.corequisite.nil? %>
        None.
    <% else %>
        <%= raw(get_expr_html(@course.corequisite)) %>
    <% end %>
  </h5></div>

  <% unless current_user.nil? %>
      <% if current_user.is_taking_course?(@course) or current_user.has_completed_course?(@course) %>
          <% coursesindb = current_user.taking_courses.to_a %>
          <% coursesindb.concat(current_user.completed_courses.to_a) %>
          <% variable = -1 %>
          <% coursesindb.each do |cid| %>
              <% if cid.course == @course %>
                  <% variable = cid %>
              <% end %>
          <% end %>
          <% if current_user.is_taking_course?(@course) %>
              <style>form {
                  display: inline;
              }</style>
              <div class='center'>
                <%= form_tag({:controller => 'user_courses', :action => 'complete_course_taking', 'data-service' => variable}, {:class => 'useajax'}) do %>
                    <%= submit_tag t('course.mark_completed') %>
                <% end %>
                <%= form_tag({:controller => 'user_courses', :action => 'remove_course_taking', 'data-service' => variable}, {:class => 'useajax'}) do %>
                    <%= submit_tag t('course.remove') %>
                <% end %>
              </div>

          <% else %>
              <div class='center'>
                <style>form{display:inline-block;}</style>
                <% unless current_user.reviewed_course?(@course) %><%= link_to course_review_new_path(@course) do %><button><%= t('course.addreview') %></button><% end %><% end %>
                <%= form_tag({:controller => 'user_courses', :action => 'remove_course_completed', 'data-service' => variable}, {:class => 'useajax'}) do %>
                    <%= submit_tag t('course.remove') %></div>
                <% end %>
          <% end %>
      <% else %>
          <div class='center'>
            <style>form {
                display: inline;
            }</style>
            <%= form_tag({:controller => 'user_courses', :action => 'add_course', :method => 'post'}, {:class => 'useajax'}) do %>
                <%= hidden_field_tag 'course', @course.id %>
                <%= submit_tag t('course.mark_taking') %>
            <% end %>
            <%= form_tag({:controller => 'user_courses', :action => 'add_course_completed', :method => 'post'}, {:class => 'useajax'}) do %>
                <%= hidden_field_tag 'course', @course.id %>
                <%= submit_tag t('course.mark_completed'), :name => 'completed' %>
            <% end %>
          </div>

      <% end %>
  <% end %>

  <hr style="width:100%;">
  
  <% reviews = @course.reviews %>
  <% if reviews.size > 0 %>
    <div><h2>Reviews (<%= reviews.size %>)</h2></div>
    <% reviews.each do |r| %>
    <div>
      <div><h3><%= "name" %></h3></div>
      <div>
        <h5><%= r.comment %></h5>
      </div>
    </div>
    <% end %>
  <% end %>
  
</div>

