<div class="content_box pagewidth_twothirds">
  <h1><%= (@course.subject.to_s + " " + @course.code.to_s) %></h1>

  <h3><%= @course.name %></h3>
  <h4><%= @course.hours %> Hours, <%= @course.credit %> Credits</h4>
  <h5><%= @course.description %></h5>
  <h4>Prerequisites:
    <% if @course.prerequisite.nil? %>
        None.
    <% else %>
        <%= raw(@course.prerequisite.to_html) %>
    <% end %>
  </h4>
  <h4>Corequisites:
    <% if @course.corequisite.nil? %>
        None.
    <% else %>
        <%= raw(@course.corequisite.to_html) %>
    <% end %>
  </h4>

  <% unless current_user.nil? %>
      <% if current_user.is_taking_course?(@course) or current_user.has_completed_course?(@course) %>
          <% coursesindb = current_user.taking_courses.to_a %>
          <% coursesindb.concat(current_user.completed_courses.to_a) %>
          <% variable = -1 %>
          <% coursesindb.each do |cid| %>
              <% if cid.course == @course %>
                  <% variable = cid %>
              <% end %>
          <% end %>
          <% if current_user.is_taking_course?(@course) %>
              <style>form {
                  display: inline;
              }</style>
              <div class='center'>
                <%= form_tag({:controller => 'user_courses', :action => 'complete_course_taking', 'data-service' => variable}, {:class => 'useajax'}) do %>
                    <%= submit_tag t('course.mark_completed') %>
                <% end %>
                <%= form_tag({:controller => 'user_courses', :action => 'remove_course_taking', 'data-service' => variable}, {:class => 'useajax'}) do %>
                    <%= submit_tag t('course.remove') %>
                <% end %>
              </div>

          <% else %>
              <div class='center'>
                <%= form_tag({:controller => 'user_courses', :action => 'remove_course_completed', 'data-service' => variable}, {:class => 'useajax'}) do %>
                    <%= submit_tag t('course.remove') %></div>
                <% end %>
          <% end %>
      <% else %>
          <div class='center'>
            <%= form_tag({:controller => 'user_courses', :action => 'add_course', :method => 'post'}, {:class => 'useajax'}) do %>
                <%= hidden_field_tag 'course', @course.id %>
                <%= submit_tag t('course.mark_taking') %>
            <% end %>
            <%= form_tag({:controller => 'user_courses', :action => 'add_course_completed', :method => 'post'}, {:class => 'useajax'}) do %>
                <%= hidden_field_tag 'course', @course.id %>
                <%= submit_tag t('course.mark_completed'), :name => 'completed' %>
            <% end %>
          </div>

      <% end %>

  <% end %>

</div>

