<% clazz ||= ''
   taking_course ||= false
%>
<%= form_for @user_completed_course, :url => path, html: {class: clazz + ' form-horizontal'} do |f| %>
    <% if @user_completed_course.errors.any? %>
        <div>
          Errors:
        </div>
        <div>
          <ul>
            <% @user_completed_course.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% unless taking_course %>
        <%= render :partial => 'take_fields', :locals => {:f => f} %>
    <% end %>
    <div class='form-group'>
      <%= f.label :grade, :class => 'col-sm-4' %>
      <div class="col-sm-8">
        <%= f.select :grade_id, options_from_collection_for_select(@grades, 'id', 'name'), {}, :class => 'selectpicker' %>
      </div>
    </div>
    <br>
    <div class="center">
      <%= f.submit(t('course.mark_taking'), :class => 'btn btn-success form-control') %>
    </div>
<% end %>