<div class='row'>
  <div class='col-md-12'>
    <h1>Course Manager</h1>
    <h5>Rearrange your courses by clicking and dragging.</h5>
    <hr>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <div id='course_sorter'>
        <div id='message_container'></div>
        <% unless @previous_courses.size == 0 %>
            <div><h4> <%= t('course.before_current_term') %></h4></div>
            <div>
              <ul class='sortable no-drop undraggable_box drag_box sortable_noindent' data-group='course' data-update-url='<%= update_course_taking_path %>'>
                <% @previous_courses.each do |course| %>
                    <li>
                      <div data-course-id='<%= course.course.id %>'>
                        <h5><%= course.course.to_s + ' - ' + course.course.name %>
                        </h5>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <% @years.each do |year, terms| %>
            <div>
              <div>
                <% terms.each do |term, courses| %>
                    <label><%= term.semester.to_s.capitalize %>  <%= term.year %></label>

                    <div class="sortable_list_container">
                      <ul class='sortable connected draggable_box drag_box sortable_noindent'
                          data-group='course'
                          data-params='semester_id=<%= term.semester.id %>&year=<%= term.year %>'
                          data-update-url='<%= update_course_taking_path %>'>
                        <% courses.each do |course| %>
                            <%= course_list_item(course) %>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class='col-md-4'>
      <div>
        <label><%= t('suggestions') %></label>

        <div class="sortable_list_container">
          <ul class='sortable no-drop draggable_box drag_box sortable_noindent' data-group='course'>
            <% current_scenario.get_courses_in_programs(:only_not_taking => true, :only_not_completed => true)[0..3].each do |course| %>
                <li>
                  <div data-course-id='<%= course.id %>' data-need-reload=true>
                    <h5><%= course.to_s %></h5>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class='text-center'>
        <ul class='sortable no-drag draggable_box drag_box sortable_noindent bin'
            data-type='delete'
            data-group='course'
            data-update-url='<%= user_advanced_standings_remove_path %>'
        >
          <label>Drag a course here to remove</label>
          <br>
          <span class='glyphicon glyphicon-trash'></span>
        </ul>
      </div>
      <div class="sortable_list_container">
        <div class='form-group'>
          <label>Search for a course</label>
          <input type="text" placeholder="Course"
                 id='search_new_course'
                 class="form-control search-ajax"
                 data-search-output='#search-output-container'
                 data-search-url='<%= search_course_list_path %>?only_not_taking=true&only_not_completed=true&limit=5'/>
        </div>
        <ul id='search-output-container' class='sortable no-drop draggable_box drag_box sortable_noindent' data-group='course'>
        </ul>
      </div>
    </div>
  </div>
</div>
