<style>
    body.dragging, body.dragging * {
        cursor: move !important;
    }

    .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
    }

    ul.sortable li {
        display: block;
        margin: 5px;
        padding: 5px;
        border: 1px solid #CCC;
        cursor: pointer;
    }

    ul.sortable li.placeholder {
        height: 50px;
        position: relative;
        border: 1px dashed #dfdfdf;
        background: transparent;
    }

    ul.sortable li.placeholder:before {
        position: absolute;
    }

    .drag_box {
        min-height: 25px;
        border-radius: 5px;
    }

    .draggable_box {
        border: 1px dashed #dfdfdf;
        background-color: #f5f5f5;
    }

    .undraggable_box {
        border: 1px solid #dfdfdf;
        background-color: #f5f5f5;
    }

    .sortable_noindent {
        padding: 0px;
        text-indent: 0px;
    }

    .left_box_sortcourse {
        display: inline-block;
        width: 535px;
    }

    .right_box_sortcourse {
        width: 300px;
        margin-left: 10px;
        border: 1px solid #dfdfdf;
        float: right;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fafafa;
    }

</style>

<div class="content_box pagewidth">
  <div><h1>Course Manager</h1></div>
  <div><h5>Rearrange your courses by clicking and dragging.</h5></div>
  <hr style="width:100%;">
  <div class="right_box_sortcourse" id="moveableboxsortcourse" data-topspacing="50">
    <div><input type="text" placeholder="Search for a class."
                id='search_new_course'
                class="form_input_longer form_biginput search-ajax"
                data-search-output='#search-output-container'
                data-search-url='<%= search_course_list_path %>'/>
    </div>
    <div style="margin-left:auto;margin-right:auto;width:30px;height:30px;line-height:30px;border:1px dashed #dfdfdf;border-radius: 5px;text-align:center;background-color:#ffffff;">
      bin
    </div>
    <div>
      <ul id='search-output-container' class='sortable draggable_box drag_box sortable_noindent'>

      </ul>
    </div>
  </div>
  <div class="left_box_sortcourse">
    <div id='course_sorter' data-update-url='<%= update_course_taking_path %>'>
      <div id='message_container'></div>
      <% unless @previous_courses.size == 0 %>
          <div><h4> <%= t('course.before_current_term') %></h4></div>
          <div>
            <ul class='sortable no-drop undraggable_box drag_box sortable_noindent'>
              <% @previous_courses.each do |course| %>
                  <li>
                    <div data-course-id='<%= course.course.id %>'>
                      <h5><%= course.course.to_s %>
                      </h5>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <% @terms.each do |term, courses| %>
          <div><h4><%= term.semester.to_s.capitalize %>  <%= term.year %></h4></div>
          <div>
            <ul data-semester='<%= term.semester.id %>' data-year='<%= term.year %>' class='sortable connected draggable_box drag_box sortable_noindent'>
              <% courses.each do |course| %>
                  <li>
                    <div data-course-id='<%= course.course.id %>'><h5><%= course.course.to_s %></h5></div>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
  </div>
</div>