<div class='marketing-section row' style="height: 100%">
  <div class="text-center" style="background-color:transparent;">
    <h1>Uniiv</h1>

    <h2>Helping you decide what courses to choose</h2>
    <br>

    <div class='container homepage-presentation'>
      <div class='row'>
        <div class='col-md-6'>
          <a href="#uploadtranscript_section">
            <div>
              <span class='glyphicon glyphicon-cloud-upload glyphicon-xl lightest_bluetext'></span>
            </div>
            <div>
              <h3>Upload your transcript</h3>
            </div>
          </a>

          <div class="text-md lightest_bluetext" style="position: absolute; right: 1rem; bottom: 0">
            1
          </div>
        </div>

        <div class='col-md-6'>
          <a href="#viewpath_section">
            <div>
              <span class='glyphicon glyphicon-random glyphicon-xl light_redtext'></span>
            </div>
            <div>
              <h3>View your possibilities</h3>
            </div>
          </a>

          <div class="text-md light_redtext" style="position: absolute; left: 1rem; bottom: 0">
            2
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <a href="#managecourse_section">
            <div>
              <span class='glyphicon glyphicon-road glyphicon-xl light_yellowtext'></span>
            </div>
            <div>
              <h3>Plan your curriculum</h3>
            </div>
          </a>

          <div class="text-md light_yellowtext" style="position: absolute; right: 1rem; top: 0">
            3
          </div>
        </div>
        </a>
        <div class='col-md-6'>
          <div>
            <span class='glyphicon glyphicon-ok-circle glyphicon-xl lightest_greentext'></span>
          </div>
          <div>
            <h3>Succeed</h3>
          </div>
          <div class="text-md lightest_greentext" style="position: absolute; left: 1rem; top: 0">
            4
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='uploadtranscript_section' class='marketing-section row'>
  <div class='row'>
    <div class='col-md-1'>
    </div>
    <div class='col-md-5'>
      <div class="wow fadeInLeft">
        <%= image_hover_tag 'examples/transcript_parser_home.png', upload_transcript_path do %>
            <h4>Upload it now</h4>

            <p>Some description</p>
        <% end %>
      </div>
    </div>

    <div class='col-md-5'>
      <div class="wow fadeInRight">
        <h2 class='h1'>Upload your transcript</h2>
        <%= t('upload_transcript.description') %>
      </div>
    </div>
  </div>
</div>

<div id='viewpath_section' class='marketing-section row'>
  <div class='row'>
    <div class='col-md-1'>

    </div>
    <div class='col-md-5 text-right'>
      <div class="wow fadeInLeft">
        <h2 class='h1'>View your path</h2>
        <%= t('view_path.description') %>
      </div>
    </div>

    <div class='col-md-5'>
      <div class="wow fadeInRight">
        <%= image_hover_tag 'examples/view_graph.png', user_graph_path do %>
            <h4>View your graph</h4>

            <p>Some description</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id='managecourse_section' class='marketing-section row'>
  <div class='row'>
    <div class='col-md-1'>

    </div>
    <div class='col-md-5'>
      <div class="wow fadeInLeft">
        <%= image_hover_tag 'examples/plan_courses.png', user_education_path do %>
            <h4>Manage your courses</h4>

            <p>Some description</p>
        <% end %>
      </div>
    </div>

    <div class='col-md-5'>
      <div class="wow fadeInRight">
        <h2 class='h1'>Plan your curriculum</h2>
        <%= t('plan_curriculum.description') %>
      </div>
    </div>
  </div>
</div>

<div id='managecourse_section' class='marketing-section row darkest_grey_bg light_greytext'>
  <div class='col-md-4 col-md-offset-4'>
    <h2 class='text-center'>Contact us</h2>
    <%= render :partial => 'contactus_form/form' %>
  </div>
</div>