<h2> Program information: </h2>
<%= form_for(@program) do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :type_id, 'Program Type' %>
      <%= f.select :type_id, options_from_collection_for_select(ProgramsType.all, 'id', 'to_s', @program.type_id), {}, :class => 'form-control selectpicker' %>
    </div>
    <div class="form-group">
      <%= f.label :faculty_id, 'Faculty' %>
      <%= f.select :faculty_id, options_from_collection_for_select(Faculty.all, 'id', 'name', @program.faculty_id), {}, :class => 'form-control selectpicker' %>
    </div>
    <div class="form-group">
      <%= f.submit :Save, :class => 'btn btn-default' %>
      <%= f.submit 'Save and edit', :name => :saveandedit, :class => 'btn btn-default' %>
    </div>

<% end %>