<div>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-8'>
        <h4><%= link_to group.name, group_path(group) %></h4>
        <% group.restrictions.each do |restriction| %>
            <div><%= t("group.#{restriction.type.to_s}", :value => restriction.value) %></div>
        <% end %>
      </div>
      <div class='col-md-4'>
        <div class='progress'>
          <% perc=(group.get_completion_ratio(current_scenario).percent).to_i %>
          <div class='progress-bar' role='progress-bar' aria-valuenow='<%= perc %>' aria-valuemin='0' aria-valuemax='100' style='width:<%= perc %>%;' rel='tooltip' data-placement='bottom' data-toggle='tooltip' title='<%= perc.to_s + "% complete" %>'>
            <span class='sr-only'><%= perc %>% Complete</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <% unless group.courses.empty? %>
      <hr>
      <div class="container-fluid">
        <%= render :partial => 'course/course_list', :locals => {:courses => group.courses} %>
      </div>
  <% end %>

  <% unless group.subject_courses.empty? %>
      <hr>
      <div>
        <% group.subject_courses.each do |subject_course| %>
            <div class='row'>
              <div class='col-md-9'>
                <h5> <%= subject_course.to_sentence %></h5>
              </div>
              <div class='col-md-1 col-md-offset-2'>
                <button class='rotatecontent btn btn-success' data-container='#<%= dom_id(subject_course) %>'>
                  <span class='glyphicon glyphicon-chevron-down'></span>
                </button>
              </div>
            </div>
            <div id='<%= dom_id(subject_course) %>' class='hidden load-on-show subject-course-list-courses-container'
                 data-url='<%= group_subject_course_list_courses_path(subject_course) %>'
                 data-load-once="true">
            </div>
        <% end %>
      </div>
  <% end %>
  <% unless group.subgroups.empty? %>
      <hr>
      <div>
        <div class='list-group'>
          <% group.subgroups.each do |subgroup| %>
              <div class="list-group-item">
                <%= render :partial => 'program_group/show', :locals => {:group => subgroup} %>
              </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>