<div>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-8'>
        <h4><%= link_to group.name, group_path(group) %></h4>
        <% group.restrictions.each do |restriction| %>
            <div><%= t("group.#{restriction.type.to_s}", :value => restriction.value) %></div>
        <% end %>
      </div>
      <div class='col-md-4'>
        <div class='progress'>
          <% perc=(group.get_completion_ratio(current_scenario)[:ratio]*100).to_i %>
          <div class='progress-bar' role='progress-bar' aria-valuenow='<%= perc %>' aria-valuemin='0' aria-valuemax='100' style='width:<%= perc %>%;' rel='tooltip' data-placement='bottom' data-toggle='tooltip' title='<%= perc.to_s + "% complete" %>'>
            <span class='sr-only'><%= perc %>% Complete</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>

  <% unless group.courses.empty? %>
      <div class="container-fluid">
        <% group.courses.each do |course| %>
            <div class='dashboard_coursebox'>
              <div class='row'>
                <div class='col-md-9'>
                  <div>
                    <div style="display: inline-block;width: 30px; font-size: 24" class='vertical-align'>
                      <% if current_user.has_completed_course?(course) %>
                          <span class='glyphicon glyphicon-ok-circle greentext' title='You have complted this course' rel='tooltip'></span>
                      <% elsif current_scenario.is_taking_course?(course) %>

                          <span class='glyphicon glyphicon-screenshot yellowtext' title='You are taking this course' rel='tooltip'></span>
                      <% end %>
                    </div>
                    <div style="display: inline-block" class='vertical-align'>
                      <%= link_to course.get_detail_name, course_path(course) %>
                    </div>
                  </div>
                </div>
                <div class='col-md-3'>
                  <%= user_course_buttons(course) %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
  <% unless group.subgroups.empty? %>
      <div>
        <div class='list-group'>
          <% group.subgroups.each do |subgroup| %>
              <div class="list-group-item">
                <%= render :partial => 'program_group/show', :locals => {:group => subgroup} %>
              </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>