<h1>Edit program group</h1>
<div>This group belongs to <%= @program_group.groupparent.to_s %></div>


<div class='panel panel-default'>
  <div class="panel-heading">
    Edit information
  </div>
  <div class="panel-body">
    <%= render :partial => 'form', :locals => {:url => program_group_update_path} %>
  </div>
</div>

<div class='panel panel-default'>
  <div class="panel-heading">
    Courses:
  </div>
  <%= render_manytomany_relationship_list(Program::Group, @program_group.id, 'list_courses') %>
</div>

<div class='panel panel-default'>
  <div class="panel-heading">
    Course by subject:
  </div>
  <%= render :partial => 'program_group/program_group_subject_course_list', :locals => {:program_group => @program_group} %>
</div>

<div class='panel panel-default'>
  <div class="panel-heading">
    Subgroups:
  </div>
  <%= render :partial => 'program_group/program_group_edit_list', :locals => {:groups => @program_group.subgroups, :parent => @program_group} %>
</div>