<div><h3><%= @group.short_name %></h3></div>
<div class="center donut" id="program_group" data-pc-1="<%= @ratios[:actual] %> " data-pc-2="<%= @ratios[:requested] %>">
</div>
<% restriction = @group.restriction.to_s %>
<% if restriction == "min_credit" %>

  <% if @group.subgroups.size == 0 %>
    <div><h5>You have completed <%= @group.count_credit_completed_courses(current_scenario).to_i.to_s %> out
      of <%= @group.value %> credits.</h5></div>
  <% else %>
    <% @group.subgroups.each do |g| %>
      <div><h5><%= g.short_name %> (<%= g.get_completion_ratio(current_scenario)[:ratio]*100 %>%)</h5>
      </div>
    <% end %>
  <% end %>
<% elsif restriction == "min_grp" %>

<% elsif restriction == "min_prg" %>

<% elsif restriction == "all" %>
  <div>
    <h5>You have completed <%= @group.count_completed_courses(current_scenario) %> out
      of <%= @group.courses.size %>
      courses.</h5></div>
<% end %>
<script type='text/javascript'>
  loadDonuts();
</script>