<table class='table table-striped'>
  <thead>
  <tr>
    <th>
      <span>Course</span>
    </th>
    <th>
      <span>Prerequisites</span>
    </th>
    <th>
      <span>Corequisites</span>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @uncompleted_courses.each do |course| %>
      <tr>
        <td>
          <span><%= link_to course.course, course_path(course.course) %> </span>
        </td>
        <td>
          <% if course.prerequisites %>
              <span class="label label-success">Completed</span>
          <% else %>
              <a class="btn btn-default" href="<%= admin_utils_course_requirement_mark_none_path(course, :type => 'prerequisites') %>">None </a>
              <a class="btn btn-default" href="<%= admin_utils_course_requirement_input_path(course, :type => 'prerequisites') %>">Input
                <% unless course.prerequisite_read.nil? or course.prerequisite_read.blank? %>
                    <span class='glyphicon glyphicon-comment'></span>
                <% end %>
              </a>
          <% end %>
        </td>
        <td>
          <% if course.corequisites %>
              <span class="label label-success">Completed</span>
          <% else %>
              <a class="btn btn-default" href="<%= admin_utils_course_requirement_mark_none_path(course, :type => 'corequisites') %>">None </a>
              <a class="btn btn-default" href="<%= admin_utils_course_requirement_input_path(course, :type => 'corequisites') %>">
                Input
                <% unless course.corequisite_read.nil? or course.corequisite_read.blank? %>
                    <span class='glyphicon glyphicon-comment'></span>
                <% end %>
              </a>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>