<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h1>Settings</h1>
    <hr>
    <div class='btn-group' style="width: 100%; margin-bottom: 20px">
      <a href='<%= upload_transcript_path %>' class='btn btn-default btn-lg' title='Upload your transcript' rel='tooltip' style="width: 50%">
        <span class='glyphicon glyphicon-upload glyphicon-xl lightest_bluetext'></span>
      </a>
      <a href='<%= user_education_selection_path %>' class='btn btn-default btn-lg' title='To edit your university, faculty and programs' rel='tooltip' style="width: 50%">
        <span class='glyphicon glyphicon-edit glyphicon-xl light_redtext'></span>
      </a>
    </div>
    <br>
    <%= render :partial => 'user_emails/show' %>
    <%= render :partial => 'devise/registrations/edit', :locals => {:resource => current_user, :resource_name => 'user'} %>

    <hr>
    <div>
      <%= form_tag user_registration_path(current_user), :method => :delete do %>
          <%= submit_tag 'Cancel my account', :class => 'btn btn-danger btn-block needconfirmation', 'data-confirm-dialog' => 'Are you sure?' %>
      <% end %>
    </div>

  </div>
</div>