<h1>Add new version to program <%= @program %></h1>
<hr>
<%= form_for @program_version, :url => program_version_new_path, :class => 'form-horizontal' do |f| %>
    <div class="form-group row">
      <%= f.label :start_year, :class => 'col-md-2' %>
      <div class="col-md-2">
        <%= f.text_field :start_year, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :end_year, :class => 'col-md-2' %>
      <div class="col-md-2">
        <%= f.text_field :end_year, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= label_tag :template, 'Version template', :class => 'col-md-2' %>
      <div class="col-md-2">
        <%= select_tag :template, options_from_collection_for_select(@program.versions, :id, :to_academic_year, params[:template]), :include_blank => true, :class => 'selectpicker form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= submit_tag :save, :class => 'btn btn-primary' %>
    </div>
<% end %>