<h1>Add new version to program <%= @program %></h1>
<hr>
<%= form_for @program_version, :url => program_version_edit_path, :class => 'form-horizontal' do |f| %>
    <%= render :partial => 'form_fields', :locals => {:f => f} %>

    <div class="form-group">
      <%= submit_tag :save, :class => 'btn btn-primary' %>
    </div>
<% end %>

<hr>

<%= render :partial => 'program_group/program_group_edit_list', :locals => {:parent => @program_version, :groups => @program_version.groups} %>
