<%= form_for course_complete, :url => user_complete_course_path(course), :html => html do |f| %>
    <div class='hidden'><%= course %></div>
    <div class="input-group">
      <%= f.hidden_field :year, :value => course_complete.year %>
      <%= f.hidden_field :semester_id, :value => course_complete.semester.id %>
      <%= hidden_field_tag :redirect, request.env['PATH_INFO'] %>
      <%= f.select :grade_id, options_from_collection_for_select(grades, 'id', 'name'), {}, {:class => 'form-control', :title => 'Select Grade', :rel => 'tooltip'} %>
      <div class="input-group-btn">
        <button class="btn btn-default btn-md">
          <span class='glyphicon glyphicon-ok'></span>
        </button>
      </div>
    </div>
<% end %>