<div class='course-buttons-container pull-right'>
  <div class='btn-group'>
    <% unless course.advanced_standing %>
        <a type='button' href='<%= course_review_new_path(course.course) %>' <%= 'disabled' if current_user.reviewed_course?(course.course) %> class='btn btn-success' rel='tooltip' data-toggle='tooltip' title='Review'>
          <span class='whitetext glyphicon glyphicon-comment'></span>
        </a>
    <% end %>
    <a type='button' href='<%= course_path(course.course) %>' class='btn btn-info' rel='tooltip'
       data-toggle='tooltip' title='<%= course.course.name %>'>
      <span class='whitetext glyphicon glyphicon-info-sign'></span>
    </a>
    <% unless course.advanced_standing? %>
        <%= group_button_to user_untake_course_path,
                            :name => :course_id, :value => course.course.id, :useajax => useajax, :delete_parent => '.course_completed_container',
                            :class => 'btn btn-danger', :rel => 'tooltip', 'data-toggle' => 'tooltip', :title => 'Remove', :redirect_to => request.env['PATH_INFO'] do %>
            <span class='glyphicon glyphicon-remove-sign'></span>
        <% end %>
    <% end %>
  </div>
</div>