<div class='form-group'>
  <div>
    <%= f.label :semester, :class => 'col-sm-4' %>
  </div>
  <div class='btn-group col-sm-8' data-toggle='buttons'>
    <% Course::Semester.all.load.each do |semester| %>
        <% active = (semester.name == current_term.semester.name) %>
        <label class="btn btn-default btn-sm <%= 'active' if active %>">
          <%= f.radio_button :semester_id, semester.id, :checked => active, :class => 'hidden' %>
          <%= semester.name.capitalize %>
        </label>
    <% end %>
  </div>
</div>
<div class='form-group'>
  <%= f.label :year, :class => 'col-sm-4' %>
  <div class="col-sm-8"><%= f.text_field :year, :value => current_term.year.to_s, :class => 'form-control' %></div>
</div>