<hr>
<div style="position: relative">
  <a href='<%= user_sort_course_path %>'>
    <h2>In-Progress Courses (<%= current_term %>)</h2>
  </a>
  <div class="top_right" style="margin-top: 0rem">
    <a href="<%= utils_fgc_path %>" class="btn btn-primary">
      Final grade calculator
    </a>
  </div>
</div>

<% if current_scenario.taking_courses.size > 0 %>

    <%= render :partial => 'user_dashboard/course_taking_row', :locals => {:courses => current_scenario.get_course_in_semester(current_term.semester, current_term.year)} %>
    <div>
      <a href='<%= user_sort_course_path %>'>
        <h3>
          Past Courses
        </h3>
      </a>

      <span>These are the courses you should have completed by now. Enter the grade you got.</span>
    </div>
    <%= render :partial => 'user_dashboard/course_taking_row', :locals =>
            {:courses => current_scenario.get_course_before_than(current_term.semester, current_term.year), :default_item => 'complete_form'} %>

    <div>
      <a href='<%= user_sort_course_path %>'><h3>Planned Courses</h3></a>
    </div>
    <%= render :partial => 'user_dashboard/course_taking_row', :locals => {:courses => current_scenario.get_course_later_than(current_term.semester, current_term.year)} %>
<% else %>
    <span>You are not taking any courses</span>
<% end %>

