<% perc = (current_user.total_completed_ratio.percent).to_i %>
<div class="row">
  <div class='col-md-12'>
    <div class='progress' style="margin-top: 3rem; height: 5rem">
      <div class='progress-bar' role='progress-bar' aria-valuenow='<%= perc %>' aria-valuemin='0' aria-valuemax='100' style='width:<%= perc %>%;z-index: 11'
           rel='tooltip' data-placement='bottom' data-toggle='tooltip' title='<%= "#{perc}% complete" %>'>
        <span class="progress-center text-md" style="line-height:5rem"><%= perc %>% Complete</span>
      </div>

    </div>
  </div>
</div>

<div class='program_list' style="margin-bottom: 5rem">
  <% current_scenario.programs.joins(:program).order('program_programs.type_id ASC,  program_programs.name ASC').each do |p| %>
      <div class='row'>
        <div class='text-indent col-md-8'><span><%= link_to p, program_path(p) %></span></div>
        <div class='text-indent col-md-2'>
          <div class='progress'>
            <% perc= (p.get_completion_ratio(current_scenario).percent).to_i %>
            <div class='progress-bar' role='progress-bar' aria-valuenow='<%= perc %>' aria-valuemin='0' aria-valuemax='100' style='width:<%= perc %>%;'>
              <span class='sr-only'><%= perc %>% Complete</span>
            </div>
          </div>
        </div>
        <div class='col-md-2 text-right'>
          <%= form_tag(user_programs_delete_path) do %>
              <div class='btn-group'>
                <a class='btn btn-info' href='<%= program_path(p) %>' rel='tooltip' title='Information'>
                  <span class='whitetext glyphicon glyphicon-info-sign'></span>
                </a>
                <a class='btn btn-warning' href='<%= program_graph_path(p) %>' rel='tooltip' title='View Path'>
                  <span class='whitetext glyphicon glyphicon-random'></span>
                </a>

              </div>
              <%= hidden_field_tag :program_id, p.id %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

<div class='row'>
  <div class='col-md-12 text-center'>
    <div class='text-center'>
      <% error = current_scenario.has_errors? %>
      <% if  error %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            You have a problem with your courses.
          </div>
          <% issues='btn-danger' %>
      <% else %>You have no problems with your courses.
          <% issues='btn-success' %>
      <% end %>
    </div>
    <div class='btn-group whitetext'>
      <a href='<%= user_advanced_standings_path %>' class='btn btn-primary'>Advanced Standing</a>
      <a href='<%= user_graph_path %>' class='btn btn-info'>View Path</a>
      <a href='<%= user_sort_course_path %>' class='btn <%= issues %> btn-linker'>
        <% if error %>
            <span class='glyphicon glyphicon-warning-sign'></span>
        <% end %>
        Manage Courses
      </a>
    </div>
  </div>
</div>
