

<div class="row" style="margin-top: 20px">
  <div class="choice-menu" >
    <a href='<%= upload_transcript_path %>' class="btn-lg-choice col-md-3">
      <div class="h3">
        <div>
          <span class='glyphicon glyphicon-cloud-upload glyphicon-lg lightest_bluetext'></span>
        </div>
        <div>
          Upload your transcript
        </div>
      </div>
    </a>
    <a href='<%= user_graph_path %>' class="btn-lg-choice col-md-3">
      <div class="h3">
        <div>
          <span class='glyphicon glyphicon-random glyphicon-lg light_redtext'></span>
        </div>
        <div>
          View your path
        </div>
      </div>
    </a>
    <a href='<%= user_sort_course_path %>' class="btn-lg-choice col-md-3">
      <div class="h3">
        <div>
          <span class='glyphicon glyphicon-road glyphicon-lg light_yellowtext'></span>
        </div>
        <div>
          Plan your curriculum
        </div>
      </div>
    </a>
    <a href='<%= user_education_selection_path %>' class="btn-lg-choice col-md-3">
      <div class="h3">
        <div>
          <span class='glyphicon glyphicon-edit glyphicon-lg greytext'></span>
        </div>
        <div>
            Settings
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <h1>
    <span>Education</span>
  </h1>
</div>
<div class='program_list'>
  <% current_scenario.programs.order('type_id ASC, name ASC').each do |p| %>
      <div class='row'>
        <div class='text-indent col-md-8'><span><%= link_to p, program_path(p) %></span></div>
        <div class='text-indent col-md-2'>
          <div class='progress'>
            <% perc= (p.get_completion_ratio(current_scenario).percent).to_i %>
            <div class='progress-bar' role='progress-bar' aria-valuenow='<%= perc %>' aria-valuemin='0' aria-valuemax='100' style='width:<%= perc %>%;' rel='tooltip' data-placement='bottom' data-toggle='tooltip' title='<%= perc.to_s + "% complete" %>'>
              <span class='sr-only'><%= perc %>% Complete</span>
            </div>
          </div>
        </div>
        <div class='col-md-2 text-right'>
          <%= form_tag(user_programs_delete_path) do %>
              <div class='btn-group'>
                <a class='btn btn-info' href='<%= program_path(p) %>' rel='tooltip' title='Information'>
                  <span class='whitetext glyphicon glyphicon-info-sign'></span>
                </a>
                <a class='btn btn-warning' href='<%= program_graph_path(p) %>' rel='tooltip' title='View Path'>
                  <span class='whitetext glyphicon glyphicon-random'></span>
                </a>

              </div>
              <%= hidden_field_tag :program_id, p.id %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

<div id='user_education_status_container' data-url='<%= user_education_status_content_path %>'>
  <%= render :partial => 'education_status' %>
</div>
<% if current_user.completed_courses.empty? and current_scenario.taking_courses.empty? %>
    <hr>
    <div class='text-center'>
      <a href="<%= transcript_loader_parse_path if user_signed_in? %>" class="btn">
        <div>
          <span class='glyphicon glyphicon-cloud-upload glyphicon-xl lightest_bluetext'></span>
        </div>
        <div>
          <h3>Upload your transcript</h3>
        </div>
      </a>
    </div>
<% else %>
    <div id='user_course_taking_container' data-url='<%= user_education_course_taking_content_path %>'>
      <%= render :partial => 'course_taking' %>
    </div>
    <div id='user_course_completed_container' data-url='<%= user_education_course_completed_content_path %>'>
      <%= render :partial => 'course_completed' %>
    </div>

<% end %>
