<div class="content_box pagewidth_twothirds">
  <div><h1>Your Education</h1></div>

  <hr style="width:100%;">

  <% if current_user.university.nil? %>
      <div>
       <h3>You have not selected a university!</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_university_edit_path do %>
            <button style="float:right;width:70px;">Add</button>
        <% end %>
      </div>
  <% else %>
      <div>
        <h3><%= current_user.university %></h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_university_edit_path do %>
            <button style="float:right;width:70px;">Choose</button>
        <% end %>
      </div>
  <% end %>

  <% if current_user.faculty.nil? %>
      <div>
<h3>You have not selected a faculty!</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_faculty_edit_path do %>
            <button style="float:right;width:70px;">Choose</button>
        <% end %>
      </div>
  <% else %>
      <div>
        <h3><%= @faculty %></h3>
        <button style="visibility: hidden;">l</button>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_faculty_edit_path do %>
            <button style="float:right;width:70px;">Choose</button>
        <% end %>
      </div>
  <% end %>

  <% if current_user.programs.size < 1 %>
      <div>
        <h3>You have not selected any programs!</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_programs_new_path do %>
            <button style="float:right;width:70px;">Add</button>
        <% end %>
      </div>
  <% else %>
      <div>
        <h3>Programs</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_programs_new_path do %>
            <button style="float:right;width:70px;">Add</button>
        <% end %>
      </div>
      <% @programs.order("type_id ASC, name ASC").each do |p| %>
          <div>
            <h4 style="text-indent:15px;"><%= p %></h4>
            <% if p.type.id != 4 %>
                <button style="visibility: hidden;">l</button>
                <div style="float:right;"><%= form_tag(:controller => "user_programs", :action => "removeProgram", :method => "post", "data-service" => p) do %>
                      <%= submit_tag("Remove", :style => "width:70px;") %>
                  <% end %></div>
            <% end %>
          </div>
      <% end %>
  <% end %>
</div>