<div class="content_box pagewidth">
  <div><h1>Your Education</h1></div>
  <hr style="width:100%;">

  <% if current_user.university.nil? %>
      <div>
        <h3>t("select.university")</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_university_edit_path do %>
            <button style="float:right;width:70px;">Add</button>
        <% end %>
      </div>
  <% else %>
      <div>
        <h3><%= current_user.university %></h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_university_edit_path do %>
            <button style="float:right;width:70px;">Choose</button>
        <% end %>
      </div>
  <% end %>

  <% if current_user.faculty.nil? %>
      <div>
        <h3>t("select.faculty")</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_faculty_edit_path do %>
            <button style="float:right;width:70px;">Choose</button>
        <% end %>
      </div>
  <% else %>
      <div>
        <h3><%= @faculty %></h3>
        <button style="visibility: hidden;">l</button>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_faculty_edit_path do %>
            <button style="float:right;width:70px;">Choose</button>
        <% end %>
      </div>
  <% end %>

  <% if current_user.main_course_scenario.programs.size < 1 %>
      <div>
        <h3>t("select.programs")</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_programs_new_path do %>
            <button style="float:right;width:70px;">Add</button>
        <% end %>
      </div>
  <% else %>
      <div>
        <h3>Programs</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_programs_new_path do %>
            <button style="float:right;width:70px;">Add</button>
        <% end %>
      </div>
      <% @programs.order("type_id ASC, name ASC").each do |p| %>
          <div>
            <div style="text-indent:15px;">
              <%= link_to program_graph_path(p.id) do %>
                  <h4><%= p %></h4>
              <% end %>
              <% if p.type.id != 4 %>
                  <button style="visibility: hidden;">l</button>
                  <div style="float:right;"><%= form_tag(:controller => "user_programs", :action => "removeProgram", :method => "post", "data-service" => p) do %>
                        <%= submit_tag("Remove", :style => "width:70px;") %>
                    <% end %></div>
              <% end %>
            </div>
          </div>
      <% end %>
  <% end %>

  <% if current_user.main_course_scenario.programs.size > 0 %>

      <hr style="width:100%;">

      <div><h1>Your Status</h1></div>

      <div class="center donut" id="credits" data-pc-1="<%= ((current_user.total_completed_ratio / current_user.main_course_scenario.programs.size)*100).to_i.to_s %>">
      </div>

      <hr style="width:100%;">

      <% @programs.order("type_id ASC, name ASC").each do |p| %>
          <div><h4 class="underline_link">
            <%= link_to program_graph_path(p.id) do %>
                <%= p.name %> (<%= (p.get_completion_ratio(current_scenario)[:ratio]*100).to_i.to_s %>%)
            <% end %>
          </h4></div>

          <% p.groups.each do |s| %>
              <div style="text-indent:15px"><h5>
                <%= s.short_name %> (<%= (s.get_completion_ratio(current_scenario)[:ratio]*100).to_i.to_s %>%)
              </h5></div>
          <% end %>

      <% end %>

  <% end %>

  <hr style="width:100%;">

  <div>
    <h1>Your Courses
      <div style='float:right;'>
        <%= link_to user_advanced_standings_path do %>
            <button>Advanced Standing</button>
        <% end %>
        <%= link_to user_sort_course_path do %>
            <button>Add Courses</button>
        <% end %>
      </div>
    </h1>
  </div>

  <hr style='width:100%'>

  <div><h3>Courses in progress</h3></div>
  <% current_user.main_course_scenario.taking_courses.sort_by! { |a| [a.course.subject, a.course.code] }.each do |c| %>
      <div>
        <%= link_to course_path(c.course.id) do %>
            <h4 title="<%= c.course.name %>" class="underline_link">
              <%= c.course.subject.name + ' ' + c.course.code.to_s %>
            </h4>
            <h5> -
              <% unless c.semester.nil? %> (<%= c.semester.to_s.capitalize %> <%= c.year %>)
              <% end %> - <%= c.course.name %></h5>
        <% end %>
        <button style='visibility:hidden;'>I</button>
        <div style='float:right;'>
          <%= form_tag(user_remove_course_path(c.course)) do %>
              <%= submit_tag(t('label.remove')) %>
          <% end %>
        </div>
        <div style='float:right;'>
          <%= link_to user_complete_course_path(c.course) do %>
              <button><%= t('label.complete') %></button>
          <% end %>
        </div>
      </div>
  <% end %>
  <% if current_user.main_course_scenario.taking_courses.empty? %>
      <div><h5><%= t('courses.inprogress.empty') %></h5></div>
  <% end %>

  <hr style='width:100%'>

  <% unless current_user.university.nil? %>
      <div><h3>Courses completed</h3></div>
      <% current_user.completed_courses.sort_by! { |a| [a.course.subject, a.course.code] }.each do |c| %>
          <div>
            <%= link_to course_path(c.course.id) do %>
                <h4 title="<%= c.course.name %>" class="underline_link">
                  <%= c.course.subject.name + ' ' + c.course.code.to_s %>
                </h4>
                <h5>
                  <% unless c.semester.nil? %> - (<%= c.semester.to_s.capitalize %> <%= c.year %>)
                  <% end %> - <%= c.course.name %>
                  <% if c.advanced_standing %> - Advanced Standing
                  <% end %>
                </h5>
            <% end %>
            <button style='visibility:hidden;'>I</button>
            <div style='float:right;'>
              <% unless c.advanced_standing %>
                  <%= form_tag(user_remove_course_path(c.course)) do %>
                      <%= submit_tag(t('label.remove')) %>
                  <% end %>
              <% else %>
                  <%= link_to user_advanced_standings_path do %>
                      <button><%= t("label.remove") %></button>
                  <% end %>
              <% end %>
            </div>
            <div style='float:right;'>
              <% unless current_user.reviewed_course?(c.course) or c.advanced_standing %>
                  <%= link_to course_review_new_path(c.course.id) do %>
                      <button><%= t('course.addreview') %></button>
                  <% end %>
              <% end %>
            </div>
          </div>
      <% end %>
      <% if current_user.completed_courses.empty? %>
          <div><h5><%= t('courses.completed.empty') %></h5></div>
      <% end %>
  <% end %>
</div>


<script type="text/javascript">
  loadDonuts();
</script>