<div class="content_box pagewidth_twothirds">
  <div><h1>Your Education</h1></div>

  <hr style="width:100%;">

  <% if current_user.university.nil? %>
      <div>
       <h3>You have not selected a university!</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_university_edit_path do %>
            <button style="float:right;width:70px;">Add</button>
        <% end %>
      </div>
  <% else %>
      <div>
        <h3><%= current_user.university %></h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_university_edit_path do %>
            <button style="float:right;width:70px;">Choose</button>
        <% end %>
      </div>
  <% end %>

  <% if current_user.faculty.nil? %>
      <div>
<h3>You have not selected a faculty!</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_faculty_edit_path do %>
            <button style="float:right;width:70px;">Choose</button>
        <% end %>
      </div>
  <% else %>
      <div>
        <h3><%= @faculty %></h3>
        <button style="visibility: hidden;">l</button>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_faculty_edit_path do %>
            <button style="float:right;width:70px;">Choose</button>
        <% end %>
      </div>
  <% end %>

  <% if current_user.programs.size < 1 %>
      <div>
        <h3>You have not selected any programs!</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_programs_new_path do %>
            <button style="float:right;width:70px;">Add</button>
        <% end %>
      </div>
  <% else %>
      <div>
        <h3>Programs</h3>
        <button style="visibility: hidden;">l</button>
        <%= link_to user_programs_new_path do %>
            <button style="float:right;width:70px;">Add</button>
        <% end %>
      </div>
      <% @programs.order("type_id ASC, name ASC").each do |p| %>
          <div>
            <h4 style="text-indent:15px;"><%= p %></h4>
            <% if p.type.id != 4 %>
                <button style="visibility: hidden;">l</button>
                <div style="float:right;"><%= form_tag(:controller => "user_programs", :action => "removeProgram", :method => "post", "data-service" => p) do %>
                      <%= submit_tag("Remove", :style => "width:70px;") %>
                  <% end %></div>
            <% end %>
          </div>
      <% end %>
  <% end %>
  
  <% if current_user.programs.size > 0 %>
  
    <hr style="width:100%;">
    
    <div><h1>Your Status</h1></div>
    
      <div class="center">
        <div style="display:inline-block;width:150px;"><canvas id="credit_canvas" width="150px" height="150px"></canvas></div>
        
        <div style="display:inline-block;width:150px;"><canvas id="percentage_canvas" width="150px" height="150px"></canvas></div>
      </div>
    
      <hr style="width:100%;">
      
    <% @programs.order("type_id ASC, name ASC").each do |p| %>
          <div><h4>
            <%= link_to program_graph_path(p.id) do %>
              <%= p.name %> (<%= (p.get_completion_ratio(current_user)*100).to_i.to_s %>%)
            <% end %>
          </h4></div>
          
          <% p.groups.each do |s| %>
            <div style="text-indent:15px"><h5>
              <%= s.short_name %> (<%= (s.get_completion_ratio(current_user)*100).to_i.to_s %>%)
            </h5></div>
          <% end %>
      
      <% end %>
  
  <% end %>
  
</div>

<script type="text/javascript">
  var canvas = document.getElementById('percentage_canvas');
  graph(75, 75, 75, 10, [[<%= current_user.total_completed_ratio %>,"#274d9b"]], -0.25, canvas, "#f5f5f5", "#274d9b", "#000000");

  function graph(x, y, radius, thickness, percentages, offset, canvas, color1, color2) {
      drawDonut(x, y, radius, thickness, 1, offset, canvas, color1);
      drawDonut(x, y, radius, thickness, percentages[0][0], offset, canvas, percentages[0][1]);
      if (percentages.length == 0) return;
      if (percentages.length != 1) drawText(x + 10, y-5, Math.round(percentages[0][0] * 100) + "%", canvas);
      if (percentages.length == 1) drawText(x + 10, y + 10, Math.round(percentages[0][0] * 100) + "%", canvas);
      for (i = 1; i < percentages.length; i++) {
          drawDonut(x, y, radius, thickness, percentages[i][0], offset + percentages[i - 1][0], canvas, percentages[i][1]);
          drawText(x + 10, y + 30, Math.round(percentages[i][0] * 100) + "%", canvas);
      }

  }

  function drawDonut(x, y, radius, thickness, percentage, offset, canvas, color) {
      var context = canvas.getContext('2d');
      var startAngle = 0 + (2 * offset * Math.PI);
      var endAngle = 2 * Math.PI * percentage + (offset * Math.PI * 2);

      context.beginPath();
      var point = getPoint(x, y, radius, startAngle);
      var ipoint = getPoint(x, y, radius - thickness, startAngle);
      context.moveTo(ipoint[0], ipoint[1]);
      context.lineTo(point[0], point[1]);
      context.arc(x, y, radius, startAngle, endAngle, 0);
      var point = getPoint(x, y, radius, endAngle);
      var ipoint = getPoint(x, y, radius - thickness, endAngle);
      context.moveTo(point[0], point[1]);
      context.lineTo(ipoint[0], ipoint[1]);
      context.arc(x, y, radius - thickness, endAngle, startAngle, 1);
      context.fillStyle = color;
      context.fill();
  }

  function getPoint(x, y, radius, angle) {
      return [x + radius * Math.cos(angle), y + radius * Math.sin(angle)];
  }

  function drawText(x, y, text, canvas) {
      var context = canvas.getContext('2d');
      context.font = "lighter 30px sans-serif";
      context.textAlign = 'center';
      context.fillText(text, x, y);
  }
</script>

<script type="text/javascript">
  var canvas = document.getElementById('credit_canvas');
  graph(75, 75, 75, 10, [[<%= current_user.count_completed_credit / 120 %>,"#274d9b"]], -0.25, canvas, "#f5f5f5", "#274d9b", "#000000");

  function graph(x, y, radius, thickness, percentages, offset, canvas, color1, color2) {
      drawDonut(x, y, radius, thickness, 1, offset, canvas, color1);
      drawDonut(x, y, radius, thickness, percentages[0][0], offset, canvas, percentages[0][1]);
      if (percentages.length == 0) return;
      if (percentages.length != 1) drawText(x + 10, y-5, Math.round(percentages[0][0] * 100) + "%", canvas);
      if (percentages.length == 1) drawText(x, y +5, <%= current_user.count_completed_credit %> + " Credits", canvas);
      for (i = 1; i < percentages.length; i++) {
          drawDonut(x, y, radius, thickness, percentages[i][0], offset + percentages[i - 1][0], canvas, percentages[i][1]);
          drawText(x + 10, y + 30, Math.round(percentages[i][0] * 100) + "%", canvas);
      }

  }

  function drawDonut(x, y, radius, thickness, percentage, offset, canvas, color) {
      var context = canvas.getContext('2d');
      var startAngle = 0 + (2 * offset * Math.PI);
      var endAngle = 2 * Math.PI * percentage + (offset * Math.PI * 2);

      context.beginPath();
      var point = getPoint(x, y, radius, startAngle);
      var ipoint = getPoint(x, y, radius - thickness, startAngle);
      context.moveTo(ipoint[0], ipoint[1]);
      context.lineTo(point[0], point[1]);
      context.arc(x, y, radius, startAngle, endAngle, 0);
      var point = getPoint(x, y, radius, endAngle);
      var ipoint = getPoint(x, y, radius - thickness, endAngle);
      context.moveTo(point[0], point[1]);
      context.lineTo(ipoint[0], ipoint[1]);
      context.arc(x, y, radius - thickness, endAngle, startAngle, 1);
      context.fillStyle = color;
      context.fill();
  }

  function getPoint(x, y, radius, angle) {
      return [x + radius * Math.cos(angle), y + radius * Math.sin(angle)];
  }

  function drawText(x, y, text, canvas) {
      var context = canvas.getContext('2d');
      context.font = "lighter 22px sans-serif";
      context.textAlign = 'center';
      context.fillText(text, x, y);
  }
</script>