<div class='container'>

  <h1>
    <span>Your Education</span>
    <a href='<%= user_education_selection_path %>' class='btn btn-danger' title='To edit your university, faculty and programs' rel='tooltip'>
      <span class='glyphicon glyphicon-edit'></span>
    </a>
  </h1>
</div>

<div id='user_education_status_container' data-url='<%= user_education_status_content_path %>'>
  <%= render :partial => 'education_status' %>
</div>
<div id='user_course_taking_container' data-url='<%= user_education_course_taking_content_path %>'>
  <%= render :partial => 'course_taking' %>
</div>
<div id='user_course_completed_container' data-url='<%= user_education_course_completed_content_path %>'>
  <%= render :partial => 'course_completed' %>
</div>
