<div style="min-height: 90%">
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>

        <h1>Edit your education</h1>
      </div>
      <div class='col-md-8'>
        <div class='h1'>

        </div>
      </div>
    </div>

    <hr>
    <%= render :partial => 'single_field_selection', :locals => {:element => current_user.university, :element_name => :university, :partial => 'user_university/form'} %>
    <% unless current_user.university.nil? %>
        <hr>
        <%= render :partial => 'single_field_selection', :locals => {:element => current_user.faculty, :element_name => :faculty, :partial => 'user_faculty/form'} %>
        <% unless current_user.faculty.nil? %>
            <hr>
            <div class='row'>
              <div class='col-md-1'>
              </div>
              <div class='col-md-10'>
                    <span class='text-md'>
                          Program
                    </span>

                <div class='program_list'>
                  <% current_scenario.programs.order('type_id ASC, name ASC').each do |p| %>
                      <div class='row'>
                        <div class='text-indent col-md-8'><span><%= link_to p, program_path(p) %></span></div>
                        <div class='text-indent col-md-2'>
                          <div class='progress'>
                            <% perc= (p.get_completion_ratio(current_scenario)[:ratio]*100).to_i %>
                            <div class='progress-bar' role='progress-bar' aria-valuenow='<%= perc %>' aria-valuemin='0' aria-valuemax='100' style='width:<%= perc %>%;' rel='tooltip' data-placement='bottom' data-toggle='tooltip' title='<%= perc.to_s + "% complete" %>'>
                              <span class='sr-only'><%= perc %>% Complete</span>
                            </div>
                          </div>
                        </div>
                        <div class='col-md-2 text-right'>
                          <%= form_tag(user_programs_delete_path) do %>
                              <div class='btn-group'>
                                <a class='btn btn-info' href='<%= program_path(p) %>' rel='tooltip' title='Information'>
                                  <span class='whitetext glyphicon glyphicon-info-sign'></span>
                                </a>
                                <a class='btn btn-warning' href='<%= program_graph_path(p) %>' rel='tooltip' title='View Path'>
                                  <span class='whitetext glyphicon glyphicon-random'></span>
                                </a>
                                <button class='btn btn-danger'
                                        <% if p.type.id == 4 %>disabled
                                        <% end %> rel='tooltip' data-toggle='tooltip' title='Remove'>
                                  <span class='glyphicon glyphicon-remove-sign'></span>
                                </button>
                              </div>
                              <%= hidden_field_tag :program_id, p.id %>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
                  <hr>
                  <div class='row'>
                    <div>
                      <%= render :partial => 'user_programs/form' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
    <% if current_scenario.programs.size > 0 %>
        <hr>
        <h2>What to do now</h2>

        <div class='homepage-presentation text-center'>
          <div class='row'>
            <div class='col-md-6'>
              <a href="<%= transcript_loader_parse_path %>">
                <div>
                  <span class='glyphicon glyphicon-cloud-upload glyphicon-xl lightest_bluetext'></span>
                </div>
                <div>
                  <h3>Upload your transcript</h3>
                </div>
              </a>
            </div>

            <div class='col-md-6'>
              <a href="<%= user_graph_path %>">
                <div>
                  <span class='glyphicon glyphicon-random glyphicon-xl light_redtext'></span>
                </div>
                <div>
                  <h3>View your graph</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
    <% end %>
  </div>


</div>
<% step = current_user.education_selection_status %>
<% if step < 100 %>
    <div>
      <div class="progress">

        <div class="progress-bar" role="progressbar" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= step %>%;">

        </div>
      </div>
    </div>
<% end %>