<div class='row'>
  <div class='col-md-12'>
    <h1>Advanced Standing</h1>
    <h5>Advanced Standing is the extra credit you get from a university from your high school education. Rearrange your
      courses by clicking and dragging.</h5>
    <hr>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <div>
        <%= form_tag(user_advanced_standings_setcredit_path, :class => "useajax") do %>
            <div class='form-group'>
              <label>Total Credits:</label>
              <%= text_field_tag('advanced_standing_credit', current_user.advanced_standing_credits, :class => 'form-control submitonedit') %>
            </div>
        <% end %>
      </div>
      <div id='course_sorter'>
        <div id='message_container'></div>
        <label><%= t('advancedstanding.courses') %></label>

        <div>
          <ul class='sortable connected draggable_box drag_box sortable_noindent'
              data-group='course'
              data-params=''
              data-update-url='<%= user_advanced_standings_create_path %>'>
            <% @courses.each do |course| %>
                <li>
                  <div data-course-id='<%= course.course.id %>'><h5><%= course.course.to_s %></h5></div>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='text-center'>
        <ul class='sortable no-drag draggable_box drag_box sortable_noindent bin'
            data-type='delete'
            data-group='course'
            data-update-url='<%= user_advanced_standings_remove_path %>'
        >
          <label>Drag a course here to remove</label>
          <br>
          <span class='glyphicon glyphicon-trash'></span>
        </ul>
      </div>
      <div>
        <div class='form-group'>
          <label>Course Search</label>
          <input type='text'
                 id='search_new_course'
                 class="form-control search-ajax"
                 data-search-output='#search-output-container'
                 data-search-url='<%= search_course_list_path %>?only_not_taking=true&only_not_completed=true&limit=5'/>
        </div>
      </div>
      <div>
        <ul id='search-output-container'
            class='sortable no-drop draggable_box drag_box sortable_noindent'
            data-group='course'
        >
        </ul>
      </div>
    </div>
  </div>
</div>