<div class="content_box pagewidth_twothirds">

  <div><h2>Add an Email</h2></div>

    <%= form_tag(:action => "addEmail", :method => "post")  do %>
    <div><%= text_field_tag 'email' , nil, { :class => "form_input_long middle form_biginput" } %>
    <div class="right"><%= submit_tag 'Add' %></div></div>
  <% end %>
  
  <hr style="width:100%">
  
  <div><h2>Manage Emails</h2></div>
  <% UserEmail.all.where('user_id' => current_user).each do |email| %>
    <div>
      <%= email.email %>
      <button style="visibility:hidden;">I</button>
      <% if email.primary %>
      <% else %>
        <div style="float:right;"><%= form_tag(:action => "removeEmail", "data-service" => email, :method => "post") do %>
          <%= submit_tag("Remove") %>
        <% end %></div>
        <div style="float:right;"><%= form_tag(:action => "makeDefault", "data-service" => email, :method => "post") do %>
          <%= submit_tag("Make Default") %>
        <% end %></div>
      <% end %>
    </div>
  <% end %>
</div>