<div class='container'>
  <h2><%= faculty %></h2>

  <div>
    <% program_types.each do |type, programs| %>
        <div>
          <h3>
            <%= type.to_s.capitalize.pluralize %>
          </h3>

          <div class='row display-container'>
            <% programs.each do |program| %>
                <div class='col-md-6 display-element'>
                  <div class='row'>
                    <div class='col-md-1'>
                      <div class='showonhover' data-hover-container='.display-element'>
                        <a class='btn btn-warning btn-sm ' href='<%= program_graph_path(program) %>' rel='tooltip' title='View Path'>
                          <span class='whitetext glyphicon glyphicon-random'></span>
                        </a>
                      </div>
                    </div>
                    <div class='col-md-2'>
                      <div class='progress'>
                        <% perc= program.last_version.get_completion_ratio(current_scenario).percent.to_i %>
                        <div class='progress-bar' role='progress-bar' aria-valuenow='<%= perc %>' aria-valuemin='0'
                             aria-valuemax='100' style='width:<%= perc %>%;' rel='tooltip' data-placement='bottom'
                             data-toggle='tooltip' title='<%= "#{perc}% complete" %>'>
                          <span class='sr-only'><%= perc %>% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class='col-md-8'>
                      <a href='<%= program_path(program) %>'>
                        <%= program.name %>
                      </a>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>