<div class='row explore-section'>
  <div class='container'>
    <h1>Explore courses</h1>
    <%= form_tag '', :method => :get do %>
        <div class="input-group">
          <% unless @subject.nil? %>
              <span class="input-group-addon">
                <%= @subject %>
                <%= hidden_field_tag :subject, @subject.id %>
              </span>
          <% end %>
          <%= text_field_tag :q, params[:q], :placeholder => 'Search...', :class => 'form-control', :autocomplete => 'off' %>
          <span class="input-group-btn">
            <button class="btn btn-primary text-md">
              <span class='glyphicon glyphicon-search'></span>
            </button>
          </span>
        </div>
    <% end %>
  </div>
</div>
<% if @courses.empty? %>
    <% Course::Subject.limit(5).each do |subject| %>
        <div class='row explore-section'>
          <div class="container">
            <div class='row'>
              <div class='col-md-8'>
                <h2>
                  <%= subject.name.capitalize %>
                </h2>
              </div>
              <div class='col-md-4'>
                <div class="text-right" style="margin-top: 40">
                  <a href="<%= explore_courses_path(:subject => subject) %>">
                    See all <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class='display-container'>
              <div class="row">
                <% subject.courses.limit(6).each do |course| %>
                    <div class="col-md-6">
                      <%= course %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <div class='row explore-section'>
      <div class="container">
        <a href="<%= explore_subjects_path %>" class='btn btn-primary btn-block'>
          See all subjects
        </a>
      </div>
    </div>
<% else %>
    <div class='row explore-section'>

      <div class="container">
        <% @courses.each do |course| %>
            <div class='course_result'>
              <div class="row course_title">
                <div class="col-md-2 text-right">
                  <%= course %>
                </div>
                <div class="col-md-9">
                  <%= course.name %>
                </div>
                <div class="col-md-1">
                  <button class="btn btn-success btn-sm rotatecontent" data-container='#course_container_<%= course.id %>'>
                    <span class='glyphicon glyphicon-chevron-down'></span>
                  </button>
                </div>
              </div>
              <div id='course_container_<%= course.id %>' class='row course_description' style='display: none'>
                <div class="col-md-4 col-md-offset-2">
                  <%= course.description %>
                </div>
                <div class="col-md-4">
                  <p>Prerequisites:
                    <% if course.prerequisite.nil? %>
                        None.
                    <% else %>
                        <%= raw(get_expr_html(course.prerequisite)) %>
                    <% end %>
                  </p>

                  <p>Corequisites:
                    <% if course.corequisite.nil? %>
                        None.
                    <% else %>
                        <%= raw(get_expr_html(course.corequisite)) %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>