<div class='row explore-section'>
  <div class='container'>
    <h1>Explore courses</h1>
    <%= form_tag '', :method => :get do %>
        <div class="input-group">
          <% unless @results[:subject].nil? %>
              <span class="input-group-addon">
                <%= @results[:subject] %>
                <%= hidden_field_tag :subject, @results[:subject].id %>
              </span>
          <% end %>
          <%= text_field_tag :q, params[:q], :placeholder => 'Search...', :class => 'form-control', :autocomplete => 'off' %>
          <span class="input-group-btn">
            <button class="btn btn-primary text-md">
              <span class='glyphicon glyphicon-search'></span>
            </button>
          </span>
        </div>
    <% end %>
  </div>
</div>
<% if @results[:courses].empty? %>
    <% Course::Subject.limit(5).each do |subject| %>
        <div class='row explore-section'>
          <div class="container">
            <div class='row'>
              <div class='col-md-8'>
                <h2>
                  <%= subject.name.capitalize %>
                </h2>
              </div>
              <div class='col-md-4'>
                <div class="text-right" style="margin-top: 40">
                  <a href="<%= explore_courses_path(:subject => subject) %>">
                    See all <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class='display-container'>
              <div class="row">
                <% subject.courses.limit(6).each do |course| %>
                    <div class="col-md-6">
                      <div style="padding: 10px">
                        <div class="row">
                          <div class="col-md-1 text-right text-lg">
                            <%= course_status_icon(course) %>
                          </div>
                          <div class="col-md-11">
                            <div class="row text-sm dark_greytext" style="font-weight: bold;">
                              <div class="col-md-3">
                                <%= link_to course, course_path(course) %>
                              </div>
                              <div class="col-md-8" style="overflow:hidden; white-space: nowrap; text-overflow: ellipsis;">
                                <%= link_to course.name, course_path(course) %>
                              </div>
                            </div>
                            <div class="row text-sm">
                              <div class='col-md-11' style="overflow:hidden; white-space: nowrap; text-overflow: ellipsis;">
                                <i> <%= course.description %></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <div class='row explore-section'>
      <div class="container">
        <a href="<%= explore_subjects_path %>" class='btn btn-primary btn-block'>
          See all subjects
        </a>
      </div>
    </div>
<% else %>
    <div class='row explore-section'>

      <div class="container">
        <%= render :partial => 'course_list', :locals => {:results => @results} %>
      </div>
    </div>
<% end %>
