<html>

<head>
  <title>Uniiv</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Lato:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= render :partial => 'layouts/navigation' %>
<div class="wrapper">
  <% if notice or alert %>
      <div class="container text-center">
        <% if notice %>
            <div class="row">
              <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= raw(notice) %>
              </div>
            </div>
        <% end %>
        <% if alert %>
            <div class="row">
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= raw(alert) %>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
  <!--Check if we need to use the fullscreen width or just the default size(For example the graph) -->
  <% container = 'container' %>
  <% container = 'container-fluid' if defined?(@fullwidth) and @fullwidth %>
  <div class="<%= container %>">
    <%= yield %>
  </div>
  <div class="push"></div>
</div>

<footer class="container">
  <hr style='width:100%;'>
  <div class="row">
    <div class="col-md-4 text-center">
      <ul class="list-unstyled">
        <li><%= link_to 'Uniiv', static_page_uniiv_path %></li>
        <li><%= link_to 'Story', static_page_story_path %></li>
        <li><%= link_to 'Team', static_page_team_path %></li>
      </ul>
    </div>
    <div class="col-md-4 text-center">
      <ul class="list-unstyled">
        <li><%= link_to 'Get Involved', static_page_getinvolved_path %></li>
        <li><%= link_to 'Suggestions', static_page_suggestions_path %></li>
        <li><%= link_to 'Bug Reports', static_page_bugreports_path %></li>
      </ul>
    </div>
    <div class="col-md-4 text-center">
      <ul class="list-unstyled">
        <li><%= link_to 'Cookies', static_page_cookies_path %></li>
        <li><%= link_to 'Privacy', static_page_privacy_path %></li>
        <li><%= link_to raw('&nbsp;'), static_page_termsofuse_path %>
      </ul>
    </div>
  </div>
</footer>

<div class=''>
  <%= render :partial => 'layouts/confirmation_modal' %>
</div>
</body>

</html>
