<!DOCTYPE html>
<html>
<head>
  <title>Uniiv</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper">
  <div id="nav_top">
    <div id="nav_top_container">
      <div id="nav_top_left">
        <%= link_to root_url do %>
            <img src="/assets/logo.png" style="height:20px;padding-top:10px"/>
        <% end %>

        <% if user_signed_in? %>
          <span id="nav_top_left_links">
            <%= link_to "Path", user_graph_path %>&nbsp;
            <%= link_to "Courses", user_courses_index_path %>&nbsp;
            <%= link_to "University", user_dashboard_index_path %>
          </span>
        <% end %>

      </div>
      <div id="nav_top_right">
        <% if user_signed_in? %>
            <% if can? :access, :rails_admin %>
                <%= link_to "Admin", rails_admin.dashboard_path %>&nbsp;&nbsp;
            <% end %>

            <%= link_to "Account", user_settings_index_path %>
            &nbsp;
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to "Log In", new_user_session_path %>
            &nbsp;
            <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>


  <div id="content">
    <% if notice %>
        <div class="alert alert-notice"><%= raw(notice) %></div>
    <% end %>
    <% if alert %>
        <div class="alert alert-error"><%= raw(alert) %></div>
    <% end %>
    <%= yield %>
  </div>
</div>
<!-- end wrapper -->

<div id="nav_bottom">
  <div id="nav_bottom_container">
    <table id="footer_table">
      <tr class="footer_table_heading">
        <th style="width:20%;"><a href="#bottom">About</a></th>
        <th style="width:20%;"></th>
        <th style="width:20%;"><a href="#bottom">Contact Us</a></th>
        <th style="width:20%;"></th>
        <th style="width:20%;"><a href="#bottom">Legal</a></th>
      </tr>
      <tr>
        <td>
          <ul class="footer_list">
            <li><%= link_to "Uniiv", static_page_uniiv_path %></li>
            <li><%= link_to "Story", static_page_story_path %></li>
            <li><%= link_to raw("&nbsp;"), static_page_team_path %></li>
          </ul>
        </td>
        <td>
        </td>
        <td>
          <ul class="footer_list">
            <li><%= link_to "Get Involved", static_page_getinvolved_path %></li>
            <li><%= link_to "Suggestions", static_page_suggestions_path %></li>
            <li><%= link_to "Bug Reports", static_page_bugreports_path %></li>
          </ul>
        </td>
        <td>
        </td>
        <td>
          <ul class="footer_list">
            <li><%= link_to "Cookies", static_page_cookies_path %></li>
            <li><%= link_to "Privacy", static_page_privacy_path %></li>
            <li><%= link_to raw("&nbsp;"), static_page_termsofuse_path %><a name="bottom"></a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>