<!DOCTYPE html>
<html>
<head>
  <title>Uniiv</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper">
  <div id="nav_top">
    <div id="nav_top_container">
      <div id="nav_top_left">
        <%= link_to root_url do %>
            <img src="/assets/logo.png" style="height:20px;padding-top:10px"/>
        <% end %>
      </div>
      <div id="nav_top_right">
        <% if user_signed_in? %>
            <% if can? :access, :rails_admin %>
                <%= link_to "Dash", rails_admin.dashboard_path %>&nbsp;&nbsp;
            <% end %>
            <%= link_to user_dashboard_index_path do %>
                <strong><%= current_user.email %></strong>
            <% end %>
            |
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to "Log In", new_user_session_path %>
            |
            <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>


  
  <div id="content">
    <% if notice %>
        <div class="alert alert-notice"><%= raw(notice) %></div>
    <% end %>
    <% if alert %>
        <div class="alert alert-error"><%= raw(alert) %></div>
    <% end %>
    <%= yield %>
  </div>
</div>
<!-- end wrapper -->

<div id="nav_bottom">
  <div id="nav_bottom_container">
    <table id="footer_table">
      <tr class="footer_table_heading">
        <th>heading one</th>
        <th >heading two</th>
        <th>heading three</th>
        <th> heading four</th>
        <th>heading five</th>
      </tr>
      <tr>
        <td>
          <ul class="footer_list">
            <li>item one</li>
            <li>item two</li>
            <li>item three</li>
            <li>item four</li>
          </ul>
        </td>
        <td>
          <ul class="footer_list">
            <li>item one</li>
            <li>item two</li>
            <li>item three</li>
            <li>item four</li>
          </ul>
        </td>
        <td>
          <ul class="footer_list">
            <li>item one</li>
            <li>item two</li>
            <li>item three</li>
            <li>item four</li>
          </ul>
        </td>
        <td>
          <ul class="footer_list">
            <li>item one</li>
            <li>item two</li>
            <li>item three</li>
            <li>item four</li>
          </ul>
        </td>
        <td>
          <ul class="footer_list">
            <li>item one</li>
            <li>item two</li>
            <li>item three</li>
            <li>item four</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>