<html>

<head>
  <title>Uniiv</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Lato:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id='top' class="body_container">
  <%= render :partial => 'layouts/navigation' %>
  <div class="wrapper">
    <%= render 'layouts/notice' %>
    <!--Check if we need to use the fullscreen width or just the default size(For example the graph) -->
    <% container = 'container' %>
    <% container = 'container-fluid' if defined?(@fullwidth) and @fullwidth %>
    <div class="<%= container %>">
      <%= yield %>
    </div>
    <% unless defined?(@footer) and not @footer %>
        <div class="push"></div>
    <% end %>
  </div>
  <%= render :partial => 'layouts/footer' unless defined?(@footer) and not @footer %>
</div>
<div class=''>
  <%= render :partial => 'layouts/confirmation_modal' %>
</div>
</body>

</html>
